.Layout{
  font-size: 10px;
  &__zoom{
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border-bottom: 1px solid #82BF56;
  }
  &__toggleSidebar{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    max-height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: visible;
    transition: top 1s ease-out 0.5s;
  }
  &__infoSidebar{
    width: 30%;
    background-color: white;
    position: absolute;
    top: 150px;
    bottom: 100px;
    right: 0;
    max-height: 100vh;
    z-index: 1;
    overflow: auto;
    border-left: 1px solid #82BF56;
  }
}
