.ToggleSidebar {
  &__action-button {
    margin:3.4em;
    transition: all 0.1s;
    position: relative;
    padding: 1em 2em;
    height: 2em;
    width: 9em;
    line-height: 0.5em;
    border-radius: 0.5em;
    color: #FFF;
    font-size: 1.5em;
    text-decoration: none;
    background-color: #82BF56;
    border-bottom: 0.5em solid #669644;
    z-index: 2;
    &__action-button:active {
      transform: translate(0px, 5px);
      border-bottom: 1px solid;
    }
  }
}
@media screen and (max-height: 450px) {
  .ToggleSidebar {width: 20%;}
}