@import "consts.scss";
.Tree{
  width: 92%;
  overflow: visible;
  cursor: move;
  margin-left: 100px;
  z-index: 2;
  &__link {
    fill: none;
    stroke: $dashed-lines;
    stroke-dasharray: 6;
    stroke-width: 0.2em;
  }
  &__node-rect {
    fill: $main-background;
  }
}