{
  "id": 4,
  "name": "Іван V",
  "surname": "Романов",
  "birthday": "27.08.1666",
  "death": "29.01.1696",
  "mother": 1,
  "father": 2,
  "gender": "male",
  "relationship": [
    5
  ],
  "children": [
    6,
    7
  ],
  "photo": "http://res.cloudinary.com/csucu/image/upload/q_100,h_70,w_100,c_thumb,g_face/v1520238626/Ivan_V_imwgqd.jpg"
}